﻿@charset "utf-8";

/*---------------------------------------------------------------
							container
----------------------------------------------------------------*/

body {
    font-size: 19px;
    font-family: "alegreya SC", calibri, candara, "segoe UI", sans-serif;
    color: rgb(226,226,226);
    background: rgb(15,15,15);
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 6% 6% 6%;
}
/*fim body*/



.container {
    background: rgb(15,15,15);
    background: rgba(15, 15, 15, 0.74);
    padding: 30px;
}
/*fim container*/

h1, h2, h3 {
    font-family: "alegreya SC", garamond, "Baskerville Old Face", "Times New Roman", serif;
    /*evitar q fonte estique e torne-se bold*/
    font-weight: normal;
}
/*fim h1, h2, h3*/

h1 {
    
    font-size: 3.3684em;
    color: rgb(172,140, 71);
   
    line-height: 1.2558em;
    margin-top: 0.4219em;
    margin-bottom: 0;
}
/*fim h1*/

h2 {
    font-size: 1.5em;
    line-height: 1.2558em;
    margin: 0.4219em auto 0.4219em auto;
}
/*fim h2*/

h3 {
    font-size: 1.5263em;
    font-weight: normal;
    margin-top: 0.9301em;
    margin-bottom: 0;
}
/*fim h3*/

p {
    font-size: 1.em;
    font-weight: 100;
    line-height: 1.4211em;
    margin-top: 1.4211em;
    margin-bottom: 0;
    max-width: 700px;
}
/*fim p*/


li {
    font-weight: 100;
}
/*fim li*/

img {
    width: 100%;
}
/*fim img*/

a:link {
    color: rgb(172, 140, 71);
}
/*fim a:link*/

a:visited {
    color: rgb(100, 81, 41);
}
/*fim a:visited*/

a:hover {
    color: rgb(224, 182, 90);
}
/*fim a:hover*/

a:active {
    color: rgb(255,217,142);
}
/*fim a:active*/

.button {
    background-color: rgb(172,140,71);
    border-radius: 8px;
    max-width: 250px;
}
    /*fim button*/

    .button a {
        color: rgb(226,226,226);
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-style: normal;
        display: block;
        padding: 10px 0px;
    }
        /*fim button a*/

        .button a:hover {
            background-color: rgb(119,97,48);
            transition: 0.5s background-color;
            border-radius: 8px;
        }
/*fim button a:hover*/


/*----------------------------------
			info
------------------------------------*/


.info h3 {
    border-bottom: 1px solid rgb(128,128,128);
}
/*fim info h3*/

.info p {
    font-style: italic;
}
/*fim info p*/

.info ul {
    list-style: none;
    padding-left: 0px;
}
/*fim info ul*/


/*---------------------------------------------------------------
							header
----------------------------------------------------------------*/

/*----------------------------------
			logo
------------------------------------*/


.logo {
    display: block;
    margin: 0px auto;
    width: 150px;
}
    /*fim logo*/

    .logo img {
        width: 150px;
    }
/*fim logo img*/


/*----------------------------------
			navigation
------------------------------------*/

.main-navigation ul {
    padding-left: 0px;
}
/*fim main-navigation ul*/

.main-navigation li {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
/*fim main-navigation li*/

.main-navigation a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(180,180,180);
    background: rgba(67,67,67, 0.17);
}
    /*fim main-navigation a*/

    .main-navigation a:visited {
        color: rgb(106,106,106);
    }
    /*fim main-navigation a:visited*/

    .main-navigation a:hover {
        color: rgb(255,255,255);
        transition: 0.5s color;
        background: rgba(62,61,61, 0.51);
    }
    /*fim main-navigation a:hover*/

    .main-navigation a:active {
        color: rgb(172,140,71);
    }
/*fim main-navigation a:active*/

/*------------------------------------------------------
					menu page
---------------------------------------------------------*/



.gallery {
    margin-top: 30px;
}
/*fim gallery*/

.menu-page .info {
    float: none;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
    /*fim menu-page .info*/

    .menu-page .info ul {
        font-style: italic;
    }
/*fim menu-page .info ul*/


/*------------------------------------------------------
					footer page
---------------------------------------------------------*/

footer {
    padding: 10px 0px;
    clear: both;
}

    footer h4 {
        text-transform: uppercase;
    }

    footer p {
        margin: 0px;
    }

/*------------------------------------------------------
					reservas
---------------------------------------------------------*/

form {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: none;
}

    form input {
        margin-bottom: 10px;
    }

        form input[type="submit"] {
            color: rgb(255,253,253);
            background: rgb(172,140,71);
            border-radius: 5px;
            padding: 5px 15px 5px 15px;
            width: 200px;
        }

            form input[type="submit"]:hover {
                color: rgb(255,253,253);
                background: rgba(62,61,61, 0.51);
                cursor: pointer;
            }


/*------------------------------------------------------
					media-querys
---------------------------------------------------------*/

/*media-query gallery*/

@media screen and (min-width: 750px) {

    body {
        font-size: 1.4em;
    }
}
/*fim @media screen and (min-width: 750px)*/



@media screen and (min-width:600px) {

    /*gallery*/
    .gallery {
        width: 446px;
        margin-left: auto;
        margin-right: auto;
    }

        .gallery img {
            max-width: 220px;
        }
}
/*fim @media screen and (min-width:600px)*/


@media screen and (min-width:1050px) {

    /*gallery*/
    .gallery {
        width: 680px;
        margin-left: auto;
        margin-right: auto;
    }

        .gallery img {
            max-width: 335px;
        }
}
/*fim @media screen and (min-width:1050px)*/

/*media-query info*/

@media screen and (min-width:1050px) {


    .info {
        float: left;
        width: 30%;
        margin-left: 3%;
    }

    .menu-page .info {
        /*float: left;*/
        width: 30%;
        /*margin-left: 3%;*/
    }
    /*fim menu-page .info*/


}
/*fim @media screen and (min-width:1050px)*/


/*media-query texto de entrada*/


@media screen and (min-width:750px) {


    .landing {
        text-align: center;
    }

        .landing p {
            margin-left: auto;
            margin-right: auto;
        }
}
/*fim @media screen and (min-width:750px)*/


/*media-query texto de entrada*/

/*@media screen and (min-width:750px){
	
	.main-navigation{
		min-height: 100px;
		
		border-top: 1px solid rgb(36,36,36);
		border-bottom: 1px solid rgb(36,36,36);
	}
	
	.main-navigation ul{
		max-width: 950px;
		
		margin: 0px auto;
	}
	
	.main-navigation li{
		
		
		float: left;
		
		
		margin-left: 10px;
		
		
		width: 22%;
	}
	
	.main-navigation a, .main-navigation a:hover{
		background: none;
	}
	
	
}*/ /*fim @media screen and (min-width:750px)*/


/*media-query ajusta palavra menu*/

@media screen and (min-width:880px) {
    .main-navigation {
        min-height: 100px;
        border-top: 1px solid rgb(36,36,36);
        border-bottom: 1px solid rgb(36,36,36);
    }

        .main-navigation ul {
            max-width: 950px;
            margin: 0px auto;
        }

        .main-navigation li {
            float: left;
            margin-left: 10px;
            width: 22%;
        }

        .main-navigation a, .main-navigation a:hover {
            background: none;
        }



    /*.main-navigation ul{
		position: relative;
		right: -30px;
	}*/


}
/*fim @media screen and (min-width:880px)*/


@media screen and (min-width:1050px) {

    .local-page .info {
        float: none;
        width: 100%;
    }

    .local-page .landing {
        float: left;
        width: 56%;
        text-align: left;
    }

    .local-page .sidebar {
        float: right;
        width: 36%;
    }
}
/*fim @media screen and (min-width:880px)*/
