﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Pub Marialva | @ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,700i">

  
   @Styles.Render("~/Content/css")


</head>
<body>

    <div class="container">
        <header>
            <a href='@Url.Action("Index", "Home")' class="logo"><img src="~/Content/img/logo.png" alt="Logotipo do Pub Marialva" /></a>

            <nav class="main-navigation">

                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Localização", "Local", "Home")</li>
                    <li>@Html.ActionLink("Reservas", "Reservas", "Home")</li>
                </ul><!--fim ul menu-->

            </nav><!--fim nav-->

        </header><!--fim header-->


        @RenderBody()


        <footer>

            <h4>Contacte-nos</h4>
            <p style="text-decoration:"none">212522351</p>
            <p>contato@pubmarialva.pt</p>

        </footer><!--fim footer-->
    </div>
    
</body>
</html>
