﻿@* separar os objectos *@
@model IEnumerable<object>

@{ 
    List<PubMarialvaAspNet.Models.Entrada> entrada = Model.ToList()[0] as List<PubMarialvaAspNet.Models.Entrada>;
    List<PubMarialvaAspNet.Models.Acompanhamento> acompanhamento = Model.ToList()[1] as List<PubMarialvaAspNet.Models.Acompanhamento>;
    List<PubMarialvaAspNet.Models.Prato> prato = Model.ToList()[2] as List<PubMarialvaAspNet.Models.Prato>;
}



@{
    ViewBag.Title = "Menu";
}
<div class="menu-page">
    <div class="landing">

        <h1>Menu</h1>
        <h2>Outono 2017</h2>
        <p>Os nossos menus são preparados sempre com ingredientes frescos e sabores locais. Os nossos menus varíam com as estações e com a disponibilidade dos ingredientes. Isso significa que nunca pagará ingredientes fora da temporada. Abaixo, poderá ver uma amostra de alguns dos pratos favoritos dos nossos clientes. As promoções variam diariamente e são publicadas, ou pode ligar antecipadamente para 21.678.987.</p>

    </div><!--fim div landing-->

    <div class="gallery">

        <img src="~/Content/img/prato-especial.jpg" alt="Prato Especial da Casa">
        <img src="~/Content/img/escalopes.jpg" alt="Escalopes">
        <img src="~/Content/img/salada.jpg" alt="Salada">
        <img src="~/Content/img/filet.jpg" alt="Fillet">

    </div><!--fim div gallery-->

    <div class="info">

        <h3>Entradas</h3>
        <ul>

            @foreach (var item in entrada)
            {
                <li>@item.Entrada1</li>
            }

        </ul>

    </div><!--fim div info entradas-->

    <div class="info">

        <h3>Acompanhamentos</h3>

        <ul>
            @foreach (var item in acompanhamento)
            {
                <li>@item.Acompanhamento1</li>
            }
        </ul>

    </div><!--fim div info acompanhamentos-->

    <div class="info">

        <h3>Pratos</h3>

        <ul>
            @foreach (var item in prato)
            {
                <li>@item.Prato1</li>
            }
        </ul>

    </div><!--fim div info pratos-->

</div>