﻿@model PubMarialvaAspNet.Models.Reserva

@{
    ViewBag.Title = "Reservas";
}



<div class="landing">
    <h1>Reservas</h1>
    <h2>Faça a sua reserva</h2>

@using (Html.BeginForm())
{
        <div>
            <label>Nome</label>
            <br>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { placeholder = "Nome", type = "text", required = "required"} })
            @*<input type="text" placeholder="Nome..." required="required" autofocus />*@
        </div>
        <div>
            <label for="name">Nº Pessoas:</label>
            <br>
            @Html.EditorFor(model => model.Pessoas, new { htmlAttributes = new { type = "number", min = "1", max = "18", step = "1", value = "1", name = "numero-pessoas", required = "required" } })
            @*<input type="number" min="1" max="18" step="1" value="1" name="numero-pessoas" required="required">*@
        </div>
        <div>
            <label for="name">Dia:</label>
            <br>
            @Html.EditorFor(model => model.Data, new { htmlAttributes = new { type = "date", id = "date", name = "date", min = "26-02-2018", max = "31-12-2020", required = "required" } })
            @*<input type="date" id="date" name="date" min="26-02-2018" max="31-12-2020" required="required">*@
            
        </div>
        <div>
            <label for="name">Horas:</label>
            <br>
            @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { type = "time", pattern = "([1]?[0-9]|2[0-3]):[0-5][0-9]", min = "10:00", max = "23:00", step="1800", required = "required" } })
            @*<input id="exit-time" name="exit-time" type="time" min="10:00" max="23:00" required="required">*@
        </div>
        <br>
        <input class="button_1" type="submit" value="Reservar">
    
}
    <!--fim form orcamento-->


</div>
<!--fim div landing-->
